*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

.bg{
   background: crimson;
}

.brand{
   position: relative;
   left: 2rem;

}

.footer{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 56px;
   background: crimson;
   color: #fff;
}

.main{
   width: 100%;
   min-height: 85vh;
}

.films{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}

.item{
   width: 24%;
}

.bt{
   position: relative;
   top: 28px;
}